# Python
__pycache__/
.ipynb_checkpoints

# Data
example_data/
*.tif

# Distribution / packaging
dist/
build/
*.egg-info/

# Coverage reports
.coverage

# Documentation
docs/_build/

# OS / other
.DS_Store
.vscode
gitignore*
